/* 
    Styles specific to the print IQ Essentials report 
    Last revised: July 10, 2012
*/

#htmlReportContainer {
    font-size   : 9.5pt;
    font-family : arial, verdana, arial, tahoma, verdana, sans-serif;
    width       : 920px;
    overflow    : auto;
    height      : 300px;
}

#htmlReportContainer .right {
    text-align : right;
}

#htmlReportContainer .center {
    text-align : center;
}

#htmlReportContainer h2.reportTitle {
    color           : red;
    margin-bottom   : 0;
    letter-spacing  : 2px;
    font-style      : italic;
    text-decoration : underline;
}

/*
    print iq essentials Device Summary
*/

#htmlReportContainer .essentialsTable th {
    padding          : 2px;
    background-color : #f2f2f2;
}

#htmlReportContainer .essentialsTable th, #htmlReportContainer .essentialsTable td {
    border : 1px solid #ccc;
}

#htmlReportContainer .essentialsTable .topleftcell {
    border           : 0;
    background-color : transparent;
}

#htmlReportContainer .essentialsTable td {
    padding : 0px 3px;
}

/*
    Add horizontal scroll bar so that all table columns fit within 940px width
    NOTE: This is not a good way of achieving the desired result.  Look for a way
    to have the table adjust to the full viewing width with the browser providing
    horizontal scroll bars.
*/
#htmlReportContainer .table_horizontal_scroll {
    overflow       : auto;
    overflow-y     : hidden;
    -ms-overflow-y : hidden;
}