/*
 * Quote Flow
*/
table.quoteDevices {
    width: 100%;
    
}

table.quoteDevices th {
    text-align: left;
}

table.quoteDevices td {
    vertical-align: top;
}

table.quoteDevices th.leasedColumn,
table.quoteDevices td.leasedColumn {
    background-color: #f7f7c3;
}

table.quoteDevices tr.deviceRow td {
    border-top: 1px solid #CECECE;
}

table.quoteDevices tr.optionRow table {
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid #CECECE;
   
}

table.quoteDevices tr.optionRow table tr:first-child th {
    border-bottom: 1px solid #CECECE;
}

// Table Headers
table.quoteDeviceTable tr.header-row th,
table.quoteDeviceTable tr.header-row td {
    background-color: #CCC;
}