@charset "UTF-8";
/* CSS Document
   Stylesheet that can be applied to reports
*/
body {
	padding-top: 50px;
}

html, body {
    background: #fff;
}

.break {
	page-break-before: always;
}

thead {
	display: table-header-group;
}

tfoot {
	display: table-footer-group;
}

#costTable thead.fixed-header {
	position: fixed;
	top: 0px;
	width: 842px;
	padding: 0px;
	border-spacing: 0px;
}

#costTable {
	width: 842px;
}
