paths:
    migrations: %%PHINX_CONFIG_DIR%%/migrations
        
environments:
    default_migration_table: phinxlog
    default_database: development
    production:
        adapter: mysql
        mysql_attr_init_command: 'SET CHARACTER SET utf8'
        host: localhost
        name: production_db
        user: root
        pass: ''
        port: 3306
                
    development:
        adapter: mysql
        mysql_attr_init_command: 'SET CHARACTER SET utf8'
        host: localhost
        name: _mpstoolbox
        user: username
        pass: 'password'
        port: 3306
                    
    testing:
        adapter: mysql
        mysql_attr_init_command: 'SET CHARACTER SET utf8'
        host: localhost
        name: testing_db
        user: root
        pass: ''
        port: 3306
                 