/* Styles specific to the proposal report */
#htmlReportContainer li {
	padding-left: 8px;
	padding-bottom: 8px;
}

/* Nested List (Under Implementation <h1> Header */
#htmlReportContainer .nested {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#htmlReportContainer .nested li {
	padding: 3px;
	padding-left: 0;
	margin: 0;
}

#htmlReportContainer #DescriptionQuestionTable .column1 div {
	width: 100px;
}

#htmlReportContainer #DescriptionQuestionTable .column2 div {
    width: 250px;
}

#htmlReportContainer #DescriptionQuestionTable .column3 div {
    width: 250px;
}

/**
 * Solution Appendix
 */
#htmlReportContainer #AppendixDeviceTable .column1 div {
	width: 150px;
}

#htmlReportContainer #AppendixDeviceTable .column2 div {
	width: 170px;
}

#htmlReportContainer #AppendixDeviceTable .column3 div {
	width: 100px;
}

#htmlReportContainer #AppendixDeviceTable .column4 div {
	width: 50px;
}

#htmlReportContainer #AppendixDeviceTable .column5 div {
	width: 50px;
}

#htmlReportContainer #AppendixDeviceTable .column6 div {
	width: 80px;
	text-align: center;
}


/* Excluded Devices Table */
#htmlReportContainer #ExcludedDevicesTable .column1 div {
	width: 240px;
}

#htmlReportContainer #ExcludedDevicesTable .column2 div {
    width: 110px;
    word-wrap: break-word;
}

#htmlReportContainer #ExcludedDevicesTable .column3 div {
    width: 110px;
}

#htmlReportContainer #ExcludedDevicesTable .column4 div {
    width: 173px;
}