body {

    font-size   : 9.5pt;
    font-family : arial, verdana, arial, tahoma, verdana, sans-serif;
}

#htmlReportContainer {
    width    : 920px;
    overflow : auto;
    height: 300px;
}

.right {
    text-align : right;
}

.center {
    text-align : center;
}

.reportTitle {
    color           : red;
    margin-bottom   : 0;
    letter-spacing  : 2px;
    font-style      : italic;
    text-decoration : underline;
}

/*
    Print IQ essentials device summary
*/

.essentialsTable th {
    padding          : 2px;
    background-color : #f2f2f2;
}

.essentialsTable th, .essentialsTable td {
    border : 1px solid #ccc;
}

.essentialsTable .topleftcell {
    border           : 0;
    background-color : transparent;
}

.essentialsTable td {
    padding : 0 3px;
}
