<phpunit bootstrap="./TestHelper.php" colors="true">
	<!--<testsuite name="Tangent Library Test Suite">-->
		<!--<directory>../library/Tangent/Tests</directory>-->
	<!--</testsuite>-->
    <testsuite name="Application Test Suite">
        <directory>./</directory>
    </testsuite>
	<filter>
		<whitelist>
			<directory suffix=".php">../application/</directory>
			<directory suffix=".php">../library/Mylib/</directory>
			<exclude>
				<directory suffix=".phtml">../application/</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
