.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.subnav {
  width: 100%;
  height: 36px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #eeeeee;
  /* Old browsers */

  background-repeat: repeat-x;
  /* Repeat the gradient */

  background-color: #f2f2f2;
  background-image: -moz-linear-gradient(top, #f5f5f5, #eeeeee);
  background-image: -ms-linear-gradient(top, #f5f5f5, #eeeeee);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#eeeeee));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #eeeeee);
  background-image: -o-linear-gradient(top, #f5f5f5, #eeeeee);
  background-image: linear-gradient(top, #f5f5f5, #eeeeee);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
  border-color: #eeeeee #eeeeee #c8c8c8;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  /* W3C */

  border: 1px solid #e5e5e5;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.subnav .nav {
  margin-bottom: 0;
}
.subnav .nav {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.subnav .nav > li > a {
  margin: 0;
  padding-top: 11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
/* Nav Tabs */
.nav-tabs > li > p:hover,
.nav-pills > li > p:hover {
  text-decoration: none;
  background-color: #EEE;
}
.nav-tabs > li > p {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 18px;
  border: 1px solid 
transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > p,
.nav-pills > li > p {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
}
.nav-pills > li > p {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/* Other Nav Stuff */
.navbar .sidebar {
  width: 170px;
}
.navbar .navbar-inner {
  background-color: #4b4b4b;
  background-image: -moz-linear-gradient(top, #666666, #222222);
  background-image: -ms-linear-gradient(top, #666666, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#222222));
  background-image: -webkit-linear-gradient(top, #666666, #222222);
  background-image: -o-linear-gradient(top, #666666, #222222);
  background-image: linear-gradient(top, #666666, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 0 0 0;
  -moz-border-radius: 0 0 0;
  border-radius: 0 0 0;
}
.navbar .brand {
  color: #FFFFFF;
}
.navbar .container {
  width: 940px;
}
.navbar {
  margin: 0;
}
.right-caret {
  display: inline-block;
  width: 0;
  height: 0;
  text-indent: -99999px;
  *text-indent: 0;
  vertical-align: middle;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #000000;
  opacity: 0.3;
  filter: alpha(opacity=30);
  content: ">";
}
.right-caret.pull-right {
  margin-top: 5px;
}
.nav li.dropdown ul.dropdown-menu li:HOVER ul {
  display: block;
  position: absolute;
  left: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.nav li.dropdown ul.dropdown-menu ul {
  display: none;
  float: right;
  position: relative;
  top: auto;
  margin-top: -30px;
}
.nav > li.dropdown > ul.dropdown-menu > li > ul.dropdown-menu::after {
  display: none;
}
.nav-tabs .open .dropdown-toggle.subdropdown,
.nav-pills .open .dropdown-toggle.subdropdown {
  background-color: #ffffff;
  color: #333333;
}
.dropdown-menu li > a.dropdown-toggle.subdropdown:hover,
.dropdown-menu .active > a.dropdown-toggle.subdropdown,
.dropdown-menu .active > a.dropdown-toggle.subdropdown:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
}
.nav > li.dropdown > ul.dropdown-menu > li > ul.dropdown-menu::before {
  display: none;
}
/* Fix jqGrid for bootstrap */
tr.ui-search-toolbar select {
  margin: 0px !important;
  padding: 0px !important;
  position: relative;
  height: 25px;
  white-space: nowrap;
  overflow: hidden;
}
.ui-jqgrid .ui-pg-input {
  height: 13px;
  width: 50px;
  font-size: .8em;
  margin: 0em;
}
tr.ui-search-toolbar select {
  font-size: .8em;
  line-height: 18px;
  display: block;
  height: 18px;
  height: 28px;
  margin: 0em;
  width: 50px;
}
.surveyForm .form-actions {
  padding-left: 300px;
}
.surveyForm .controls {
  padding-left: 36px;
}
.surveyForm.form-horizontal .controls {
  padding-left: 0;
}
html {
  overflow-y: scroll;
}
.AjaxLoadingIcon {
  background-image: url('../img/ajax-loader.gif');
  height: 100px;
  margin: auto;
  width: 100px;
}
body {
  min-width: 1280px;
}
.well-header {
  color: #999999;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
