html {
    overflow-y : scroll;
}

body {
    padding-bottom   : 75px;
    background-color : #05192a;
}

#meat {
    background-color : rgba(255, 255, 255, 1);
}

#headerLogo {
    height : 80px;
    margin : auto;
    //    width  : 960px;
}

#headerLogo h1 {
    margin      : 0;
    padding-top : 13px;
}

#header-background {
    background-color : rgba(122, 122, 122, 0.14);
}

#lightbox {
    display    : none;
    background : #000000;
    .opacity(0.9);
    position   : absolute;
    top        : 0px;
    left       : 0px;
    min-width  : 100%;
    min-height : 100%;
    z-index    : 49;
}

#lightbox-panel {
    display    : none;
    position   : fixed;
    top        : 30px;
    left       : 50%;
    background : #FFFFFF;
    padding    : 10px 15px 10px 15px;
    border     : 2px solid #CCCCCC;
    z-index    : 50;
}

/* center-block fix for columns */
.col-center-block {
    float        : none;
    display      : block;
    margin-left  : auto;
    margin-right : auto;
}

.modal-dialog {
    width : auto;
}

.page-header {
    margin-top    : 0;
    border-bottom : 0;
}

.body-container {
    padding-bottom : 25px;

    @media (min-width : @screen-md-min) {
        min-height    : 700px;
    }
}

#page-footer {
    min-height  : 200px;
    color       : #aaa;
    padding-top : 20px;
    a {
        color : #aaa;
    }

    .nav > li {
        &.active a {
            color : #fff;
        }

        > a:hover, > a:focus {
            background-color : #f8933c;
            color            : #fff;
        }
    }
}