// Makes the tabs fit in more
.tabbable {
    .nav-tabs {
        margin-bottom : 0;
        > li {
            > a {
                border              : 1px dashed;
                border-color        : transparent;
                border-bottom-color : transparent;
//                .border-radius(0);
                background          : transparent;

                &:hover {
                    border : 1px solid #ddd;
                }
            }

            &.active > a {
                color               : #000;
                border-color        : #ddd;
                border-style        : solid;
                border-bottom-color : transparent;
                background-color    : #f7f7f7;
            }
        }
    }

    .tab-content {
        background-color : #f7f7f7;
        min-height       : 150px;
        padding          : 9px;
        border           : 1px solid #ddd;
        border-top       : 0;
        .box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.10));
    }
}