/**
 * Least/Most Used Devices
 */
#htmlReportContainer #MostUsedDevicesTable .column1, #htmlReportContainer #LeastUsedDevicesTable .column1 {
	
}

#htmlReportContainer #MostUsedDevicesTable .column2, #htmlReportContainer #LeastUsedDevicesTable .column2 {
	width: 105px;
}

#htmlReportContainer #MostUsedDevicesTable .column3,#htmlReportContainer #LeastUsedDevicesTable .column3 {
	width: 105px;
}

#htmlReportContainer #MostUsedDevicesTable .column4, #htmlReportContainer #LeastUsedDevicesTable .column4 {
	width: 105px;
}

#htmlReportContainer .annualSavings {
    line-height: 40px;
    height: auto;
    padding: 5px;
}