#htmlReportContainer {
    width       : 842px;
    font-size   : 9.5pt;
    font-family : arial, verdana, arial, tahoma, verdana, serif;
    margin      : auto auto 500px auto;
}

#htmlReportContainer .right {
    text-align : right;
}

#htmlReportContainer .center {
    text-align : center;
}

#htmlReportContainer h2.reportTitle {
    color           : red;
    margin-bottom   : 0;
    letter-spacing  : 2px;
    font-style      : italic;
    text-decoration : underline;
}

/*
    Gross Margin Device Summary
*/
#htmlReportContainer #grossMarginDeviceSummary {
    border-collapse : collapse;
}

#htmlReportContainer #grossMarginDeviceSummary, #htmlReportContainer #grossMarginDeviceSummary td, #htmlReportContainer #grossMarginDeviceSummary th {
    border : 1px solid #ccc;
}

#htmlReportContainer #grossMarginDeviceSummary td {
    padding : 0 3px;
}

#htmlReportContainer #grossMarginDeviceSummary tr.nonCompliantMono td.mono,
#htmlReportContainer #grossMarginDeviceSummary tr.nonCompliantColor td.color {
    background-color : #F6FF8F;
}

#htmlReportContainer #grossMarginDeviceSummary th {
    padding          : 2px;
    background-color : #f2f2f2;
}

#htmlReportContainer #grossMarginDeviceSummary tr.totals {
    color            : red;
    font-weight      : bold;
    background-color : #f2f2f2;
}

#htmlReportContainer #grossMarginDeviceSummary thead, #htmlReportContainer #grossMarginDeviceSummary tfoot {
    font-weight : bold;
}

/*
    Gross Margin Information
*/
#htmlReportContainer #grossMarginInformation {
    margin         : auto;
    border-spacing : 0;
}

#htmlReportContainer #grossMarginInformation tr td {
    padding : 2px;
}

#htmlReportContainer #grossMarginInformation .heading {
    text-align    : right;
    padding-right : 10px;
    font-weight   : bold;
}

#htmlReportContainer #grossMarginInformation td.column1 div {
    width : 200px;
}

#htmlReportContainer #grossMarginInformation td.column2 div {
    width : 70px;
}

#htmlReportContainer #grossMarginInformation td.column3 div {
    width : 200px;
}

#htmlReportContainer #grossMarginInformation td.column4 div {
    width : 70px;
}