
.icon-supplycupboardicons_nobkgd3:before { content: '\e803'; } /* '' */
.icon-supplycupboardicons_nobkgd1:before { content: '\e804'; } /* '' */
.icon-supplycupboardicons_nobkgd2:before { content: '\e805'; } /* '' */
.icon-supplycupboard1_bkgd:before { content: '\e806'; } /* '' */
.icon-supplycupboard2_bkgd:before { content: '\e807'; } /* '' */
.icon-supplycupboard3_bkgd:before { content: '\e808'; } /* '' */