/* These are common style attributes to both proposal/assessment reports */

/* Borders */
#htmlReportContainer .noborder {
    border : 0px;
}

#htmlReportContainer .topborder {
    border-top : 1px solid black;
}

#htmlReportContainer .bottomborder {
    border-bottom : 1px solid black;
}

/* Positioning */
#htmlReportContainer .left {
    text-align : left;
}

#htmlReportContainer .right {
    text-align : right;
}

#htmlReportContainer .center {
    text-align : center;
}

/* Element overrides */
#htmlReportContainer em {
    font-size   : 9pt;
    line-height : 8pt;
}

#htmlReportContainer th {
    vertical-align : top;
}

#htmlReportContainer img {
    margin : 0px;
}

#htmlReportContainer td {
    padding : 5px;
}

#htmlReportContainer h3 {
    font-size : 14pt;
}

#htmlReportContainer p,
#htmlReportContainer li {
    font-size : 10pt;
}

#htmlReportContainer p {
    padding     : 0;
    margin      : 5px;
    line-height : 12pt;
}

#htmlReportContainer li {
    padding-left   : 8px;
    padding-bottom : 8px;
}

/* Misc */
#htmlReportContainer div.center {
    padding : 5px;
}

#htmlReportContainer  .nopadding {
    padding-top    : 0px;
    padding-bottom : 0px;
}

#htmlReportContainer  .red {
    color : red;
}

#htmlReportContainer  .bold {
    font-weight : bold;
}

/* TITLE PAGE */
#htmlReportContainer .title-page-logo-box-wrapper {
    display : table;
    width   : 100%;
}

#htmlReportContainer .title-page-logo-box {
    display        : table-cell;
    vertical-align : middle;
    height         : 300px;
    width          : 100%;
    text-align     : center;
}

#htmlReportContainer .title-page-logo {

    display : block;
    margin  : auto;

}

#htmlReportContainer .title-page-report-title {
    background-color : #58595b;
    color            : #FFF;
    margin-bottom    : 20px;
    padding          : 5px 5px 5px 30px;
}

#htmlReportContainer .title-page-customer-details {
    background-color : #808285;
    color            : #FFF;
    min-height       : 300px;
    padding          : 10px;

}

/* TITLE PAGE */

/* PAGE FOOTER */
#htmlReportContainer  table.footertable td {
    width : 240px;
}

#htmlReportContainer  table.footertable td.col2 {
    vertical-align : middle;
    text-align     : center;
}

/* GENERAL PAGE ITEM DEFINITIONS */
#htmlReportContainer  div.h1 {
    border-bottom : 1px solid #000000;
    color         : #0096D6;
    font-size     : 14.5pt;
    font-weight   : bold;
    margin-bottom : 15px;
}

/* Paragraph header */
#htmlReportContainer  div.pheader {
    background-color : #0096D6;
    padding          : 2px;
    margin-top       : 5px;
    margin-bottom    : 5px;
    color            : #FFFFFF;
    font-size        : 12.5pt;
    font-style       : italic;
    font-weight      : bold;
}

/* GENERIC TABLE */
#htmlReportContainer  table.genericTable {
    font-size       : 9pt;
    line-height     : 12pt;
    border-collapse : collapse;
    width           : 100%;
}

#htmlReportContainer  table.genericTable td,
#htmlReportContainer th {
    border    : 1px solid #000;
    padding   : 5px;
    font-size : 9pt;
}

#htmlReportContainer table.genericTable th {
    font-weight : bold;
}

/* Annual savings */
#htmlReportContainer div.annualSavings strong {
    color : #0096D6;
}

#htmlReportContainer div.annualSavings {
    background-color : #F0F0F0;
    border           : 1pt solid #999;

    font-weight      : bold;
    font-size        : 13pt;
    text-align       : center;
    vertical-align   : middle;
}

/* COPYRIGHT */
#copyright {
    color      : #666;
    font-size  : 8pt;
    font-style : italic;
}