/* Styles specific to the assessment report */

/* GRADE TABLE */
#htmlReportContainer table.gradesTable {
    background-color : #F0F0F0;
    border-left      : 1px solid #000000;
    border-top       : 1px solid #000000;
}

#htmlReportContainer table.gradesTable td {
    border-bottom : 1px solid #000000;
    border-right  : 1px solid #000000;
}

#htmlReportContainer table.gradesTable td.gradeDescription {
    width        : 570px;
    padding-left : 10px;
}

#htmlReportContainer table.gradesTable td.gradeDescription h4 {
    margin  : 0px;
    padding : 0px;
}

#htmlReportContainer table.gradesTable td.gradeNumber {
    padding     : 0px;
    font-size   : 20pt;
    font-weight : bold;
    text-align  : center;
    width       : 75px;
}

/**
 * Least/Most Used Devices
 */
#htmlReportContainer #MostUsedDevicesTable .column1 div,
#htmlReportContainer #LeastUsedDevicesTable .column1 div {
    width : 260px;
}

#htmlReportContainer #MostUsedDevicesTable .column2 div,
#htmlReportContainer #LeastUsedDevicesTable .column2 div {
    width : 105px;
}

#htmlReportContainer #MostUsedDevicesTable .column3 div,
#htmlReportContainer #LeastUsedDevicesTable .column3 div {
    width : 115px;
}

#htmlReportContainer #MostUsedDevicesTable .column4 div,
#htmlReportContainer #LeastUsedDevicesTable .column4 div {
    width : 115px;
}

/**
 * High risk device table
 */
#htmlReportContainer #HighRiskDevicesTable .column1 div {
    width : 160px;
}

#htmlReportContainer #HighRiskDevicesTable .column2 div {
    width : 110px;
}

#htmlReportContainer #HighRiskDevicesTable .column3 div {
    width : 50px;
}

#htmlReportContainer #HighRiskDevicesTable .column4 div {
    width : 80px;
}

#htmlReportContainer #HighRiskDevicesTable .column5 div {
    width : 75px;
}

#htmlReportContainer #HighRiskDevicesTable .column6 div {
    width : 75px;
}