/**
 * Least/Most Used Devices
 */
#MostUsedDevicesTable .column1,#LeastUsedDevicesTable .column1 {
	
}

#MostUsedDevicesTable .column2,#LeastUsedDevicesTable .column2 {
	width: 105px;
}

#MostUsedDevicesTable .column3,#LeastUsedDevicesTable .column3 {
	width: 105px;
}

#MostUsedDevicesTable .column4,#LeastUsedDevicesTable .column4 {
	width: 105px;
}

.annualSavings {
    line-height: 40px;
    height: auto;
    padding: 5px;
}