.form-inline {
    margin : 0;
}

.form-inline .control-group {
    margin-bottom : 0;
}

input.rightAlign {
    text-align : right;
}

fieldset.half-width {
    width : 50%;
}

label.control-label.required:after {
    color       : red;
    content     : "*";
    font-weight : bold;
}

input.input-country-code {
    width : 30px;
    float : left;
}

input.input-area-code {
    width : 25px;
    float : left;
}

input.input-exchange-code {
    width : 25px;
    float : left;
}

input.input-number-code {
    width : 30px;
    float : left;
}

input.input-extension-code {
    width : 30px;
}

label.label-phone-number {
    width      : auto;
    height     : 23px;
    margin-top : 5px;
    float      : left;
}

label.label-phone-number-country {
    width        : auto;
    height       : 23px;
    margin-right : 20px;
    float        : left;
}

.reportSettingsForm table {
    width : 100%;
}

.reportSettingsForm td:first-child {
    width : 250px;
}
.reportSettingsForm input{
    text-align: right;
}
.reportSettingsForm td {
    height       : 50px;
    padding-left : 60px;
}

.reportSettingsForm tr:nth-child(even) {
    background-color : #FFFFFF;
}

.reportSettingsForm tr:nth-child(odd) {
    background-color : #E6E6E6;
}
.reportSettingsForm .defaultSettings{
    margin-left: 135px
}

.reportSettingsForm .description {
    text-align   : center;
    width        : 100px;
    margin-right : 50px;
}

.reportSettingsForm .add-on{
    width: 75px;
    text-align: left;
}
.reportSettingsForm .help-inline{
    float:right;
}
.reportSettingsForm .headerRow{
    text-align: center;
    font-weight: bold;
}