// Make the scroll bar always show

// The meat of the document
#meat {
    width: 960px;
    background-color: #fff;
    //.box-shadow(1px 1px #000);
}

#headerLogo {
    height: 80px;
    background-image: url('//placehold.it/960x80');
}

#lightbox {
    display    : none;
    background : #000000;
    .opacity(0.9);
    position   : absolute;
    top        : 0px;
    left       : 0px;
    min-width  : 100%;
    min-height : 100%;
    z-index    : 1000;
}

#lightbox-panel {
    display    : none;
    position   : fixed;
    top        : 30px;
    left       : 50%;
    background : #FFFFFF;
    padding    : 10px 15px 10px 15px;
    border     : 2px solid #CCCCCC;
    z-index    : 1001;
}

html {
    overflow-y : scroll;
}

// Our ajax loading icon
.AjaxLoadingIcon {
    background-image : url('../img/ajax-loader.gif');
    height           : 100px;
    margin           : auto;
    width            : 100px;
}

// Adjust form actions to be centered on 'tangent' forms.
form.form-center-actions .form-actions {
    padding     : 0;
    display     : block;
    padding-top : 20px;
    text-align  : center;
}

form.form-center-actions.form-horizontal .form-actions {
    padding-left : 0;
}

.clearfix .btn.create-button {
    margin-bottom : 7px;
}

.well.no-padding {
    padding : 0;
}

// Footer Navigation
#footerLinks ul.footer-nav {
    position : relative;
    left     : 0;
    display  : block;
    float    : right;
}

#footerLinks ul.footer-nav > li {
    display : block;
    float   : left;
}

#footerLinks ul.footer-nav > li a,
#footerLinks ul.footer-nav > li a:active,
#footerLinks ul.footer-nav > li a:hover,
#footerLinks ul.footer-nav > li a:visited {
    color : #666;
}

#footerLinks ul.footer-nav > li a {
    padding-right : 10px;
    padding-left  : 10px;
    border-left   : 0;
    border-right  : 1px solid #999;
}

#footerLinks ul.footer-nav > li:first-child a {
    border-left : 0;
}

#footerLinks ul.footer-nav > li:last-child a {
    border-right : 0;
}

legend {
    margin-bottom : 0px;
}

// Devices Page
tr.lowProfitDevice td {
    font-weight : bold;
}