// Make the scroll bar always show

// The meat of the document
.body-container {
    width : 960px;
}

#meat {
    background-color : rgba(255, 255, 255, 1);
}

#headerLogo {
    height : 80px;
    margin : auto;
    width  : 960px;

}

#headerLogo h1 {
    margin      : 0;
    padding-top : 13px;
}

#header-background {
    background-color : rgba(122, 122, 122, 0.14);
}

#lightbox {
    display    : none;
    background : #000000;
    .opacity(0.9);
    position   : absolute;
    top        : 0px;
    left       : 0px;
    min-width  : 100%;
    min-height : 100%;
    z-index    : 49;
}

#lightbox-panel {
    display    : none;
    position   : fixed;
    top        : 30px;
    left       : 50%;
    background : #FFFFFF;
    padding    : 10px 15px 10px 15px;
    border     : 2px solid #CCCCCC;
    z-index    : 50;
}

html {
    overflow-y : scroll;
}

// Our ajax loading icon
.AjaxLoadingIcon {
    background-image : url('../img/ajax-loader.gif');
    height           : 100px;
    margin           : auto;
    width            : 100px;
}

// Adjust form actions to be centered on 'tangent' forms.
form.form-center-actions .form-actions {
    padding     : 0;
    display     : block;
    padding-top : 20px;
    text-align  : center;
}

form.form-center-actions.form-horizontal .form-actions {
    padding-left : 0;
}

.clearfix .btn.create-button {
    margin-bottom : 7px;
}

.well.no-padding {
    padding : 0;
}

// Footer Navigation
#footerLinks ul.footer-nav {
    position : relative;
    left     : 0;
    display  : block;
    float    : right;
}

#footerLinks ul.footer-nav > li {
    display : block;
    float   : left;
}

#footerLinks ul.footer-nav > li a,
#footerLinks ul.footer-nav > li a:active,
#footerLinks ul.footer-nav > li a:hover,
#footerLinks ul.footer-nav > li a:visited {
    color : #666;
}

#footerLinks ul.footer-nav > li a {
    padding-right : 10px;
    padding-left  : 10px;
    border-left   : 0;
    border-right  : 1px solid #999;
}

#footerLinks ul.footer-nav > li:first-child a {
    border-left : 0;
}

#footerLinks ul.footer-nav > li:last-child a {
    border-right : 0;
}

legend {
    margin-bottom : 0px;
}

// Devices Page
tr.lowProfitDevice td {
    font-weight : bold;
}

/*
 * Profit Table Styles (Hardware Optimization)
 */
.replacementDevices th {
    font-size   : 9pt;
    font-weight : bold;
}

.replacementDevices table {
    border-collapse : collapse;
}

.replacementDevices td {
    padding   : 6px;
    font-size : 8pt;
}

.replacementDevices .retire {

}

.replacementDevices .replace {
    background-color : #EBC7A4;
}

.replacementDevices td#deviceName {
    padding   : 1px;
    font-size : 8pt;
}

.replacementDevices tr.one {
    background-color : #F1F1F1;
}

.replacementDevices th.ui-th-column div {
    white-space : normal !important;
    height      : auto !important;
    padding     : 2px;
}

.replacementDevices tr.three {
    background-color : #A1A1A1;
}

.replacementDevices tr.one:hover {
    background-color : #AAF1F1;
}

.replacementDevices tr.two:hover {
    background-color : #AAF1F1;
}

.replacementDevices td.thresholdWarning {
    background-color : #FFF58C;
}

.replacementDevices td.thresholdDanger {
    background-color : #FF0C36;
}

.summaryReport td {
    padding : 3px;
}

.summaryReport table {
    border-collapse : collapse;
}

.summaryReport tr.header td {
    background-color : #A8BFE7;
}

.deviceSwapList .subHeader {
    padding          : 5px;
    background-color : #B8CCE3;
    text-align       : center;
    font-size        : 12pt;
    font-weight      : bold;
}

.deviceSwapList th {
    padding          : 3px;
    background-color : #DDDDDD;
}

/**
 * Device swap jqgrid styles
 */

#replacementDeviceTable td.dangerThreshhold {
    font-weight      : bold;
    color            : white;
    background-color : red;
}

#replacementDeviceTable td.warningThreshhold {
    font-weight      : bold;
    background-color : yellow;
}

#replacementDeviceTable td.negativeCostDelta {
    font-weight      : bold;
    color            : white;
    background-color : red;
}

#navigationMenu {
    margin-bottom : 0;
}