/* Nav Tabs */
.nav-tabs > li > p:hover,  
.nav-pills > li > p:hover,  {
	text-decoration: none;
	background-color: #EEE;
}

.nav-tabs > li > p {
padding-top: 8px;
padding-bottom: 8px;
line-height: 18px;
border: 1px solid 
transparent;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
}
.nav-tabs > li > p, .nav-pills > li > p {
padding-right: 12px;
padding-left: 12px;
margin-right: 2px;
}
.nav-pills > li > p {
padding-top: 8px;
padding-bottom: 8px;
margin-top: 2px;
margin-bottom: 2px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

/* Other Nav Stuff */
.navbar .sidebar {
	width: 170px;
}

.navbar .navbar-inner {
	.gradientBar(#666, #222);
	.border-radius(0 0 0);
}

.navbar .brand {
	color: #FFFFFF;
}
	
.navbar .container {
	width: 940px;
}

.navbar {
	margin: 0;
}