.proposalVerificationTable td.key {
	font-weight: bold;
	text-align: right;
	width: 250px;
}

.proposalVerificationTable td,
.proposalVerificationTable th {
	border: 0;
}

.proposalVerificationTable th {
	padding-top: 20px;
}

.proposalForm .form-actions {
	padding-left: 300px;
}

.proposalForm .controls{
    padding-left: 36px;
}

.proposalForm.form-horizontal .controls{
    padding-left: 0;
}

