@charset "UTF-8";

/* CSS Document
   Main Sylesheet attached to all proposal generator pages
   @author Marc Rogall
*/
body,html {
	background-image: url(./images/index/background_repeat.png);
	background-repeat: repeat-x;
}

h2 {
	font-family: Helvetica, arial, sans-serif;
	font-size: 28px;
	color: #cc0000;
	font-weight: 600;
	padding-bottom: 10px;
}

h3 {
	border-bottom: 1px #cc0000 solid;
	color: #cc0000;
	display: block;
	font-family: Helvetica, arial, sans-serif;
	font-size: 22px;
	font-weight: 500;
}

h4 {
	color: #000000;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-top: 20px;
	text-decoration: underline;
}

h5 {
	font-family: Helvetica, arial, sans-serif;
	font-size: 14px;
	color: #cc0000;
	font-weight: bold;
	text-decoration: underline;
}

p {
	font-family: Helvetica, arial, sans-serif;
	font-size: 12px;
}

ul {
	list-style-image: url(./images/index/bullet.png);
}

/* Layout Styling */
#beta {
	width: 100px;
	height: 56px;
	top: 141px;
	right: 25px;
	float: right;
	position: relative;
}

#wrapper {
	width: 100%;
	height: 100%;
	background-image: url(./images/index/background_image.png);
	background-position: 50% 0px;
	background-repeat: no-repeat;
}

#page {
	position: relative;
	margin-top: 50px;
	margin: auto;
	width: 800px;
	background-color: #fff;
	min-height: 95%;
}

#header {
	width: 801px;
	position: relative;
	height: 200px;
	background-image: url(./images/index/header.png);
}

#logo {
	height: 45px;
	width: 176px;
	left: 605px;
	top: 15px;
	position: relative;
}

#topBar {
	width: 800px;
	position: relative;
	margin: auto;
	height: 20px;
	padding: 30px 20px 0 10px;
    text-align: right;

}

#login_messages {
	height: 20px;
	margin: 10px 0px 0px 0px;
}



#sidebar {
	position: relative;
	width: 125px;
	padding: 0 0 10px 10px;
	margin-top: 20px;
	font-weight: 400;
	font-size: 15px;
	line-height: 19px;
}

#sidebar p {
	font-size: 15px;
}

#maincontent {
	width: 625px;
	min-height: 540px;
	position: relative;
	padding: 10px 10px 0 20px;
	height: 100%;
	float: right;
	right: 10px;
	top: 10px;
	border-left: 1px dotted #cc0000;
	margin-bottom: 20px;
	/*background-color: #e0e0e0;*/
}

#maincontent_full {
	width: 96%;
	min-height: 540px;
	position: relative;
	padding: 10px 15px 0 15px;
	height: 100%;
	float: right;
	top: 10px;
}

#footer {
	position: relative;
	width: 770px;
	margin: 20px 15px 0 15px;
	height: 30px;
	clear: both;
	padding: 10px 0 0 5px;
	border-top: 1px #ccc solid;
}

/* End Layout Styling */
.top-margined {
	margin: 10px 0px 0px 0px !important;
}

.margined {
	margin: 10px 0px 10px 0px;
}

.label {
	font-size: 12px;
	font-weight: bold;
	margin: 0px 10px 0px 0px;
}

#filter_container,#search_container,#upload_container, #replacement_filter_container {
	font-size: 12px;
	margin: 0px 0px 10px 0px;
	padding: 5px 5px 5px 15px;
	background-color: #e8e8e8;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border: 1px solid #000000;
}

.search_option_container {
	display: inline;
	padding: 0px 20px 0px 0px;
}

#search_results_container {
	
}

.radiobuttons {
	margin-right: 5px;
}

span.registration {
	position: relative;
	top: -15px;
	font-size: 10px;
}

.botMenu { /* 
We apply this style many times but there are no style attributes
related to it yet.
*/
	
}

select {
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	margin: 2px;
	padding: 3px;
}

input {
	font-family: helvetica, arial, sans-serif;
	font-size: 11px;
	margin: 2px;
	padding: 3px;
}

button {
	font-family: helvetica, arial, sans-serif;
	font-size: 11px;
	margin: 2px;
	padding: 3px;
}

.device_list {
	width: 150px;
}

#footer p {
	font-family: helvetica, arial, sans-serif;
	color: #ababab;
}

#footer-left {
	width: 50%;
	position: relative;
	float: left;
}

#footer-right {
	width: 50%;
	float: right;
	position: relative;
	text-align: right;
}

#footer-right p {
	padding-right: 5px;
}

#footer-right a {
	color: #ababab;
}

#master-admin-console {
	text-align: left;
	padding-left: 40px;
}

#master-admin-console a {
	text-align: left;
	margin: 5px 0 5px 0;
	line-height: 30px;
}

#master-admin-console h3 {
	padding-bottom: 3px;
	margin-bottom: 10px;
	width: 95%;
}

.check_options {
	float: right;
	padding: 0px 15px 0px 0px;
}

.submitBar input {
	font-size: 11px;
}

.submitBar button {
	font-family: helvetica, arial, sans-serif;
	font-size: 11px;
	margin: 2px;
	padding: 3px;
}

.savebtn {
	display: inline;
}

.deletebtn {
	display: inline;
}

.refreshbtn {
	display: inline;
}

.backbtn {
	display: inline;
}

#submitBtns {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.verification h4 {
	font-size: 14px;
	font-weight: bold;
	margin: 10px 0px 10px 0px;
}

.verification dt {
	width: 200px;
}

.verification dd {
	width: 400px;
	left: 200px;
	top: -14px;
}

.verification ol {
	padding-left: 17px;
}

.model_select {
	width: 200px;
}

.manufacturer_select {
	width: 200px;
}

#new_printer {
	width: 191px;
}

.jqgrid_header_adjust {
	position: relative;
	top: -.4em;
}

div.error, div.alert, div.notice, div.success, div.info {
padding: 0.8em;
margin-bottom: 1em;
border: 2px solid #DDD;
}

div.notice {
	background: #FFF6BF;
	color: #514721;
	border-color: #FFD324;
}

div.info {
	background: #D5EDF8;
	color: #205791;
	border-color: #92CAE4;
}

div.error {
	background: #FBE3E4;
	color: #8A1F11;
	border-color: #FBC2C4;
}

div.success {
	background: #E6EFC2;
	color: #264409;
	border-color: #C6D880;
}

#settings_table_sysadmin {
	padding-left: 135px;
}

#upload_container {
	margin: 0px 0px 10px 0px;
	padding: 5px 5px 5px 50px;
	background-color: #eeeeee;
	border: solid 1px #000000;
}

.upload_file {
	width: 300px;
}

.upload_file_button {
	
}

/* Links and Images */
a,a:link,a:visited,a:active,a:hover {
	color: #2f4e6b;
}

.description {
	color: black;
}

#PreparedFor {
	top: 0px;
	position: relative;
	width: 85px;
	right: -370px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	color: #cc0000;
}

#PreparedForText span {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#PreparedForText {
	position: absolute;
	top: -23px;
	height: 40px;
	right: 0px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	vertical-align: text-bottom;
	text-align: right;
	color: #cc0000;
	word-break: break-word;
	width: 150px;;
}

#PageTitle {
	bottom: 0px;
	position: absolute;
}

#TitleContainer {
	clear: both;
	position: relative;
	border-bottom: 1px #cc0000 solid;
}

/* Autocomplete combobox styles */
.ui-button {
	margin-left: -1px;
}

.ui-button-icon-only .ui-button-text {
	padding: 0.35em;
}

.ui-autocomplete-input {
	margin: 0;
	padding: 0.47em 0 0.47em 0.45em;
}

#message_container,#modal_message_container,#message_container p,#modal_message_container p
	{
	color: red;
}

/* End autocomplete combobox styles */
/* Modal Popup */
#lightbox {
	display: none;
	background: #000000;
	opacity: 0.9;
	filter: alpha(opacity =   90);
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	z-index: 1000;
}

#lightbox-panel {
	display: none;
	position: fixed;
	top: 30px;
	left: 50%;
	background: #FFFFFF;
	padding: 10px 15px 10px 15px;
	border: 2px solid #CCCCCC;
	z-index: 1001;
}

/* End Modal Popup */
/* Page Specific Modal Styles */
#modal_form {
	margin: 10px 0px 10px 0px;
	padding: 15px 5px 0px 5px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border: 1px solid #eeeeee;
}

.replacement_printer_container {
	width: 500px;
	margin-left: -265px;
}

.instruction {
	padding: 0px 0px 10px 0px;
}

.replacement_field {
	padding: 2px 0px 2px 0px;
}

.image_upload_container {
	width: 800px;
	margin-left: -415px;
}

.support_request_container {
	width: 700px;
	margin-left: -365px;
}

/* End Page Specific Modal Styles */
/* Image Upload Styles */
.clear {
	clear: both;
}

.clear_center {
	clear: both;
	text-align: center;
}

.outlined {
	border: 1px solid #000000;
}

#default_image {
	float: left;
}

#current_image {
	float: right;
}

#company_logo {
	position: relative;
}

#thumb_image {
	position: relative;
	left: 212px;
	width: 375px;
	height: 150px;
	overflow: hidden;
	border: 1px solid #000000;
	margin: 10px 0px 0px 0px;
}

#remove_link {
	text-align: center;
	position: relative;
	top: -152px;
	left: 355px;
	width: 20px;
	padding: 2px 0px 2px 0px;
	border: 1px solid #000000;
	background-color: #000000;
	opacity: 0.5;
	filter: alpha(opacity =   50);
}

#remove_link a {
	color: #ff0000;
	font-weight: bold;
	text-decoration: none;
}

#remove_link a:hover {
	color: #ffffff;
}

#upload_fields {
	clear: both;
	text-align: center;
	padding: 0px 0px 10px 0px;
	border: solid 1px #000000;
	background-color: #e8e8e8;
}

#uploader_buttons_container {
	clear: both;
	text-align: center;
	padding: 10px 0px 0px 0px;
}

.button_container_padding {
	padding: 10px 0px 0px 0px;
}

td.Title {
	width: 60%;
	vertical-align: top;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 22px;
	color: #cc0000;
	font-weight: 500;
	line-height: 1;
	text-decoration: underline;
}

td.PreparedFor {
	width: 15%;
	vertical-align: top;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	color: #cc0000;
	padding-top: 6px;
	font-style: italic;
}

td.PreparedForText {
	width: 35%;
	vertical-align: top;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	color: #cc0000;
	padding-top: 6px;
	font-style: italic;
	word-wrap: break-word;
}

/* End Image Upload Styles */

.new_manufacturer_container {
	display: none;
	width: 500px;
	margin-left: -265px;
}

div.adminSettingsPage {
	margin: 0px 0px 0px 0px;
}

div.settingsPage table td.error input {
	background-color: #FFC2C4;
}

.details_sub_header {
	font-weight: normal;
}

.device_details_container {
	display: none;
	width: 600px;
	margin-left: -315px;	
}

.details_container {
	color: #004276;
	color: #000000;
	font-size: 12px;
	margin: 20px 0px 20px 0px;
}

.details_toners_container {
	margin: 20px 0px 20px 0px;
}

.details_table {
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border: 1px solid #eeeeee;
}

.details_table tr td {
	color: #000000;
	height: 25px;
	margin: 0px;
	padding: 5px 5px 5px 5px;
}

.forms_header {
	margin: 0px 0px 15px 0px;
}

.details_label,
.forms_label {
	color: #004276;
	color: #000000;
	font-weight: bold;
}

.details_alt {
	background-color: #efefef;
}

.legend_note {
	color: #004276;	
	font-size: 11px;
}
