#htmlReportContainer {
    width : 842px;
}

#htmlReportContainer {
    font-size   : 9.5pt;
    font-family : arial, verdana, arial, tahoma, verdana, serif;
    margin      : auto auto 500px auto;
}

#htmlReportContainer .right {
    text-align : right;
}

#htmlReportContainer .center {
    text-align : center;
}

#htmlReportContainer h2.reportTitle {
    color           : #0096d6;
    margin-bottom   : 0;
    letter-spacing  : 2px;
    font-style      : italic;
    text-decoration : underline;
}

table {
    width : 100%;
}

.mainTable tr , .mainTable td {
    padding : 2px;
    border  : 1px solid #ccc;
}

td.cpp {
    width: 100px;
}

th {
    padding          : 2px;
    background-color : #f2f2f2;
}

td:first-child {
    width : 250px;
}

td.number {
    text-align : right;
}


