#DescriptionQuestionTable td {
	vertical-align: top;
}

#ExcludedDevicesTable {
	width: 100%;
}

#ExcludedDevicesTable .column1 {
    width: 190px;
}

#ExcludedDevicesTable .column2 {
    width: 95px;
    word-wrap: break-word;
}

#ExcludedDevicesTable .column3 {
    width: 85px;
}

#ExcludedDevicesTable .column4 {
}