/* Styles specific to the proposal report */
li {
	padding-left: 8px;
	padding-bottom: 8px;
}

/* Nested List (Under Implementation <h1> Header */
.nested {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.nested li {
	padding: 3px;
	padding-left: 0;
	margin: 0;
}

#DescriptionQuestionTable .column1 div {
	width: 100px;
}

#DescriptionQuestionTable .column2 div {
    width: 250px;
}

#DescriptionQuestionTable .column3 div {
    width: 250px;
}

/**
 * Solution Appendix
 */
#AppendixDeviceTable .column1 div {
	width: 150px;
}

#AppendixDeviceTable .column2 div {
	width: 170px;
}

#AppendixDeviceTable .column3 div {
	width: 100px;
}

#AppendixDeviceTable .column4 div {
	width: 50px;
}

#AppendixDeviceTable .column5 div {
	width: 50px;
}

#AppendixDeviceTable .column6 div {
	width: 80px;
	text-align: center;
}


/* Excluded Devices Table */
#ExcludedDevicesTable .column1 div {
	width: 240px;
}

#ExcludedDevicesTable .column2 div {
    width: 110px;
    word-wrap: break-word;
}

#ExcludedDevicesTable .column3 div {
    width: 110px;
}

#ExcludedDevicesTable .column4 div {
    width: 173px;
}