[production]
app.title                       = "MPS Tools"
app.theme                       = "default"
app.useAnalytics                = false

resources.db.params.host        = "127.0.0.1"
resources.db.params.username    = "USERNAME"
resources.db.params.password    = "PASSWORD"
resources.db.params.dbname      = "DATABASENAME"

email.host                      = smtp.googlemail.com
email.ssl                       = SSL
email.port                      = 465
email.username                  = "noreply@example.com"
email.password                  = "changeme"
[development : production]